.unliked{
    display: none;
   
}
.liked{
   
    display:none  
}
.comment-section{
    display: flex;
}
.parent-card{

 margin-left:80px;
 justify-content: center;
 align-content: center ;
}
.cards{
     width: 550px;
     margin: 25px;
    position: relative;
    float: left;;
    margin-top: 2%; 
}
.add-comment{
    width: 400px;
   
}

.add-btn{
   float: right;
   margin-right: 10px;
}
