
.app-header {
    background-color: #263238;
    height: 54px;
    
}
.app-logo {
    color: #fff;
    font-size: 18px;
    
}
.avatar {
    margin-left: auto;
    cursor:pointer;
}
header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4{
    background-color: #263238;
    color:white;
    font-size: 18px;
   
}
